*{
    padding: 0;
    margin: 0;
}
.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}
@media (min-width:768px){
    .container{
    width:750px;
    }
    .container .date p{
        font-size: 30px;
    }
    .container .clock p{
        font-size: 70px;
    }
}
@media (max-width:767px) {
    .container .date p{
        font-size: 20px;
    }
    .container .clock p{
        font-size: 55px;
    }
}
@media (min-width:992px){
    .container{
    width:970px;
    }
    .container .date p{
        font-size: 40px;
    }
    .container .clock p{
        font-size: 80px;
    }
}
@media (min-width:1200px){
    .container{
    width:1170px;
    }
    .container .date p{
        font-size: 50px;
    }
    .container .clock p{
        font-size: 110px;
    }
}
@media (max-width:634px){
    .container .date p{
        font-size: 40px;
    }
    .container .clock p{
        font-size: 50px;
    }
}
    
.landing{
    height: 100vh;
    position: relative;
    background-image: url(background.jpg);
    background-size: cover;
    
}
.container .clock{
    position: absolute;
    left: 50%;
    top: 35%;
    transform: translateX(-50%);
    transition: 0.3s;
}

.container .clock p {
    display: inline;
    padding: 0 3px;
    margin: 0 5px;
    
    background-color: black;
    color: wheat;
    border-radius: 16px;
}

.container .date p{
    font-family: 'Lobster', cursive;
    font-weight: bold;
    
    display: inline;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
}
