:root{
  --main-color: #10cab7;
  --sec-color:#2c4755;
}
*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing:border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body{
  font-family: 'Work Sans', sans-serif;

}
.container{
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width:768px){
  .container{
    width:750px;
  }
}
@media (min-width:992px){
  .container{
    width:970px;
  }
}
@media (min-width:1200px){
  .container{
    width:1170px;
  }
}
.special-heading{
  color: #ebeced;
  font-size: 100px;
  text-align: center;
  font-weight: 800;
  letter-spacing: -3px;
  margin: 0;
}
.special-heading + p{
  text-align: center;
  font-size: 20px;
  color: #797979;
  margin: -30px 0;
}
@media (max-width:768px) {
 .special-heading{
   font-size: 60px;
 }
.special-heading + p{
   margin: -15px ;
 }
}
.header{
  padding:20px;
}
.header .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .logo{
  width:60px;
}
.header .links{
  position: relative;
}
.header .links .icon{
width:30px;
display: flex;
flex-wrap: wrap;
justify-content: flex-end;
}
.header .links .icon span{
  height: 2px;
  margin-bottom: 5px;
  background-color: #333;
}
.header .links .icon span:first-child{
width: 100%;
}
.header .links .icon span:nth-child(2){
width: 60%;
transition: 0.3s;
}
.header .links .icon span:last-child{
width:100%;
}
.header .links:hover .icon span:nth-child(2){
  width: 100%;
}
.header .links ul{
  margin: 0px;
  padding: 0;
  background-color: #ddd;
  position: absolute;
  right: 0;
  min-width: 200px;
  list-style: none;
  top:calc(100% + 15px);
  z-index: 1;
  display: none;

}
.header .links:hover ul{
  display: block;
  transition: 0.2s;

}
.header .links ul::before{
    content: "";
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #ddd transparent;
    position: absolute;
    right: 5px;
    top: -20px;
}
.header .links ul li a{
  display: block;
  padding: 15px;
  text-decoration: none;
  color:#222;
  transition: 0.2s;
}
.header .links ul li a:hover{
  padding-left: 25px;
}
.header .links ul li:not(:last-child){
  border-bottom: 1px solid #b5b4b4;
}
.landing{
  background-image: url(../images/landing.jpg);
  background-size: cover;
  height: calc(100vh - 64px);
  position: relative;
}
.landing .image{
  padding: 0;
  margin-top: -42px;
  animation-name: upandown;
  animation-duration: 0.9s;
  animation-direction:alternate;
  animation-iteration-count: infinite;
}
.landing .image img{
  width: 250px;
  border-radius: 50%;
}
@keyframes upandown {
to{
  transform: translateY(-45px);
}
}
.landing .intro-text{
position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%,-50%);
text-align: center;
width: 320px;
max-width: 100%;
}
.landing .intro-text h1{
margin: 0;
font-weight: bold;
font-size: 50px;
color: var(--main-color);
}
.landing .intro-text p{
font-size: 19px;
line-height: 1.8;
}
/* features */
.features{
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f6f6f6
}
.features .container{
  display: grid;
  grid-template-columns: repeat(auto-fill , minmax(300px , 1fr)) ;
}
.features .feat{
  padding: 20px;
  text-align: center;
}
.features .feat i{
  color: var(--main-color);
}
.features .feat h3{
font-weight: 800;
margin: 30px 0 ;
}
.features .feat p{
line-height: 1.8;
color: #777;
font-size: 17px;
}
/* features */
/* start services */
.services{
padding: 60px 0;
}
.services .services-content{
display: grid;
grid-template-columns: repeat(auto-fill,minmax(300px , 1fr));
margin-top: 100px;
grid-gap: 30px;
}
.services .services-content .srv{
display: flex;
margin-bottom: 40px;
}
@media (max-width:768px)
{
  .services .services-content .srv{
    flex-direction: column;
    text-align: center;
  }
}
.services .services-content .srv i {
  color: var(--main-color);
  flex-basis: 60px;
}
.services .services-content .srv .text{
  flex:1;
}
.services .services-content .srv .text h3{
margin :8px 0 0;
}
.services .services-content .srv .text p{
  line-height: 1.6;
  color: #777;
  font-weight: 300;
}
.services .services-content .image{
  text-align: center;
  position: relative;
}
.services .services-content .image > img{
  width: 260px;
}
.services .services-content .image::before{
    content: "";
    background-color: var(--sec-color);
    width: 100px;
    height: calc(100% + 100px);
    position: absolute;
    right: 0;
    top: -50px;
    z-index: -1;
}
@media (max-width: 1199px){
  .ima-cs{
    float: right;
  }
}
@media (max-width: 767px){
  .ima-cs{
    float: right;
  }
}
/* End services */
/* start portfolio */
.portfolio{
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f6f6f6;
}
.portfolio .portfolio-content{
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(300px , 1fr));
  grid-gap: 30px;
  margin-top: 100px;
}
.portfolio .portfolio-content .card{
  background-color: white;
}
.portfolio .portfolio-content .card img{
  max-width: 100%;
}
.portfolio .portfolio-content .card .info{
  padding: 20px;
}
.portfolio .portfolio-content .card .info h3{
  margin: 0;
}
.portfolio .portfolio-content .card .info p{
  color: #777;
  line-height: 1.6;
  margin-bottom:0;

}
/* end portfolio */
/* Start About */
.about{
  padding-top: 60px;
  padding-bottom:60px;
}
.about .about-content{
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media(max-width:991px){
  .about .about-content{
    flex-direction: column;
    text-align: center;
  }
}
.about .about-content .image{
  position: relative;
  width: 250px;
  height: 375px;
}
.about .about-content .image img{
  max-width: 100%;
}
.about .about-content .image::before{
content: "";
position: absolute;
background-color: #ebeced;
width: 100px;
top: -40px;
left: -20px;
z-index: -1;
height: calc(100% + 80px);
}
.about .about-content .image::after{
content: "";
position: absolute;
width: 120px;
height: 300px;
top: -40px;
right: -150px;
z-index: -1;
border-left: 80px solid #10cab7;
border-bottom: 80px solid #10cab7;
}
@media(max-width:991px){
  .about .about-content .image::after,
  .about .about-content .image::before{
    display: none;
  }
  .about .about-content .image{
    transform: translate(-50%, -7%);
    left: 50%;
    top: 50%;
  }
}
.about .about-content .text{
  flex-basis: calc(100% - 500px);
}
.about .about-content .text p:first-of-type{
font-weight: bold;
line-height: 2;
margin-bottom: 50px;
}
.about .about-content .text hr{
width: 50%;
display: inline-block;
border-color: #10cab7;
}
.about .about-content .text p:last-of-type{
line-height: 2;
color: #777;
}
/* End About */
/* Start Contact */
.contact{
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f6f6f6;
}
.contact .info{
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
}
.contact .info .label{
  font-size: 40px;
  font-weight: 800;
  color: #2c4755;
  letter-spacing: -2px;
  margin-bottom: 15px;
}
.contact .info .linka{
  display: block;
  font-size:40px;
  font-weight: 800;
  text-decoration: none;
  color: #10cab7;
}
.contact .info .social{
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-size: 16px;
}
.contact .info .social i{
  margin-left: 10px;
  color: #2c4755;
  transform: translate(0, 2px);
}
@media (max-width:767px) {
  .contact .info .linka,
  .contact .info .label{
    font-size: 22px;
  }
}
/* End Contact */
/* Start Footer */
.footer{
  background-color: #2c4755;
  color: white;
  padding: 30px 10px;
  text-align: center;
  font-size: 10px;
}
.footer .span{
  font-weight: bold;
  color: #10cab7;
}
/* End Footer */
